# Security & Environment
.env
users.xlsx

# Python Caches and Virtual Environments
__pycache__/
*.pyc
.venv/
venv/
dist/
build/

# Legacy Archive (Optional: Keep it locally or push it)
# legacy_archive/
